<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <a href="https://github.com/NiklasMerz/scroll-repro">Repo</a>

  <ion-list>
    <ion-item *ngFor="let value of fields">
      {{value}}
    </ion-item>

    <ion-button (click)="refresh()">Refresh</ion-button>
  </ion-list>
</ion-content>
